.nav-fixed {
    position: fixed;
    box-shadow: 0px 17px 19px -27px rgba(0, 0, 0, 0.75);
    width: 100%;
    z-index: 99;

    transition: all .5s;
}

.heder-nav {
    position: initial;
    width: initial;
}
.carousel_block{
     max-width: 1400px;
     position: relative;
    margin: 0 auto 100px;
}
.loader_carousel i {
    font-size: 25px;
    color: #23504B;
    width: 45px;
    height: 37px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
.loader_carousel .fa-angle-right:hover {
    transform: translateX(5px);
}
.loader_carousel .fa-angle-left:hover {
    transform: translateX(-5px);
}
.main_about {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;

    display: flex;
    align-items: center;
    background-color: #FFFBF6;
    overflow: hidden;
}

.circle{
    margin: 0 12px;
}
.circle__item {
    display: flex;
    max-width: 34px;
    justify-content: center;
    align-items: center;
}

.circle__item .circle__icon {
    color: #23504B;
    position: absolute;
    transform: rotate(337deg);
}

.circle__spinner {
    transform: rotate(270deg);
    width: 70px;
    height: 70px;
}

.circle__spinner .path {
    stroke: #23504B;
    stroke-linecap: round;
    opacity: 0;
}

.loader_carousel {
    text-align: right;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 23%;
    bottom: -280px;
    transform: translate(-21%,-50%);
}

.worker_about {
    display: none;
    z-index: -1;
    opacity: 0;
    top: 15px;
    position: absolute;
    width: 175px;
    border-radius: 50%;
    background: rgba(35, 80, 75, .7);
    height: 91%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);

    transition: all .5s;
}
.worker_content:hover .worker_about{
    z-index: 0;
    opacity: 1;
 }


.worker_content:hover{
    z-index: 2;
}
.workers_block{
    /*margin-top: 140px;*/
    display: flex;
    justify-content: space-between;
}
.worker_content{
    border-radius: 50%;
    text-align: center;
    position: relative;
    max-width: 190px;
}

.worker_about .worker__name {
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
}

.worker_about .worker__role {
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 200;
}

.worker_content .worker_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.workers_content_change_1{
    position: absolute;
    top: 65%;
    left: 14%;
    transform: translateX(-4%);
}
.workers_content_change_2{
    position: absolute;
    top: 64%;
    left: 42%;
    transform: translateX(-2%);
}
.workers_content_change_3{
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translateX(-5%);

}

/*contact us page css*/

.bg-baner {
    background: url('../img/about-header.jpg') center center no-repeat;
    background-size: cover;
    height: 604px;
    position: relative;
    padding-top: 130px;

}

.bg_fon {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 604px;
    width: 100%;
    background: rgba(0, 0, 0, .7);
}

.baner_title {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 705px;
    margin: auto;
    color: #FFFFFF;
}

.baner_title .hi_content {
    transform: scale(1);
    opacity: 1;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 29px;

}

.baner_title .baner_description {
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
}

.contact_form {
    width: 100%;
    max-width: 1000px;
    position: relative;
    padding: 0px 20px 65px;
    top: 40px;
    z-index: 3;
    height: auto;
    margin: auto;
    background: #FCFCFC;
    border-radius: 15px;
}
.contact_form form{
    max-width: 800px;
    margin: auto;
}

.input_block {
    max-width: 500px;
    margin: 90px auto 0;
}

.input_item {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    background: none;
    color: #A7A7A7;
    font-size: 12px;
    line-height: 17px;
    border-radius: 0;
    opacity: .8;
    margin-bottom: 34px;

}

.input_item:focus {
    box-shadow: none;
}

.textarea_block {
    margin: 90px auto 0;
    display: flex;
    flex-direction: column;
    max-width: 460px;
}

.contact_form textarea {
    font-size: 12px;
    padding: 5px;
    color: #A7A7A7;
    border-color: #E5E5E5;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
}

.contact_form textarea:focus {
    border-color: #E5E5E5;
    outline: none;
}

.contact_form label {
    font-size: 12px;
    color: #A7A7A7;
}

.textarea_block .btn-outline-green {
    background: #FFFFFF;
    border-radius: 0;
    border: 1px solid #23504B;
    box-sizing: border-box;
    color: #23504B;
    margin-left: auto;
    padding: 10px 0;
    width: 111px;
    font-size: 12px;
    line-height: 140.69%;
    margin-top: 43px;

    transition: all .3s;
}

.textarea_block .btn-outline-green:hover {
    background: #23504B;
    color: white;
}

.textarea_block .btn-outline-green:focus {
    box-shadow: none;
}

.location_block {
    position: relative;
    background: url("../img/Google-Maps.png") center center no-repeat;
    background-size: cover;
    padding-top: 100px;
    height: 900px;
}
.location_block iframe{
    border: 0;
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
}

.location_block .nav-tabs {
    position: relative;
    border: none;
}
.location_block .nav_tab_block {
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

.location_block .nav-tabs .nav-item {
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.location_block .nav-tabs #armenia-tab {
    border-radius: 15px 0px 0px 0px;
}

.location_block .nav-tabs #usa-tab {
    border-radius: 0px 15px 0px 0px;
}

.location_block .nav-tabs .nav-link {
    padding: 17px 0 16px;
    border: none;
    background: #FFFFFF;
    color: #23504B;

}

.location_block .nav-tabs .nav-link.active {
    background: #23504B;
    color: #FFFFFF;
}

.use_office {
    position: relative;
    background: #23504B;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.use_office.active.show{
    height: 400px;
}

.use_office .coming_soon {
    font-size: 25px;
    color: white;
}

.armenian_office .team_photo {
    position: relative;
    background: url("../img/5.jpg") center center no-repeat;
    background-size: cover;
    height: 400px;
}

.armenian_office .team_photo .bg-fone {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: flex;
    align-items: flex-end;
}

.armenian_office .team_photo .bg-fone .office_address {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.9;
    padding-left: 15px;
    margin-bottom: 12px;
}

.armenian_office .contact_block {
    height: 100%;
    background: #23504B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.armenian_office .contact_block .line {
    border: 1px solid rgba(255, 255, 255, .4);
    width: 65px;
    margin: 28px 0 30px;
    background: rgba(255, 255, 255, .4);
}

.armenian_office .contact_block .phone_block, .mail_block {
    color: white;
    text-align: center;
}

.armenian_office .contact_block .phone_block .phone_icon {
    font-size: 30px;
}

.armenian_office .contact_block .phone_block .phone_number {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 20px;
}

.armenian_office .contact_block .mail_block .mail_icon {
    font-size: 30px;
}

.armenian_office .contact_block .mail_block .mail_name {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}


/*contact us page css end*/


/*about us page css start*/
.about_us_main_content{
    overflow: hidden;
}

.about_us_main_content .header_block .carousel-item{
    height: 100vh;
}
.about_us_main_content .header_block img{
    align-items: inherit;
    object-fit: cover;
    height: 100%;
}

.about_us_main_content .header_block .carousel-indicators li{
    background-color: #ffffff;
}
.about_us_main_content .header_block .carousel-indicators li.active{
    background-color: #23504B;
}
.about_us_main_content #carouselExampleIndicators .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 11px;
    list-style: none;
    margin: 0;
    box-shadow: inset 0px -29px 24px -7px #000000;
}
.about_us_main_content .team_content{
    max-width: 640px;
    margin-top: 45px;
    font-size: 15px;
    line-height: 30px;
    margin-left: auto;
}
.about_us_main_content .team_content .company{
    color: #23504B;
    font-weight: bold;
}
.about_us_main_content .about_block{
    padding: 45px 80px;
}
.about_us_main_content .block_content{
    max-width: 1300px;
    margin: auto;
}
.about_us_main_content .block_content .articel_img{
    width: 90%;
    display: block;
}

.about_us_main_content .article_block .articel_main {
    max-width: 1300px;
    margin: auto;
}

.about_us_main_content .article_block {
    padding: 45px 80px;
    background: #23504B;
}

.about_us_main_content .article_block img {
    width: 90%;
    height: 100%;
}

.about_us_main_content .article_block .article_content {
    margin-top: 40px;
    max-width: 640px;
    margin-left: auto;
}

.about_us_main_content .article_block .article_title {
    font-size: 25px;
    margin-bottom: 15px;
    color: #fff;
}

.about_us_main_content .article_block .article_text {
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
    color: #fff;
}
.about_us_main_content .blog_board{
    padding: 45px 139px;
}
.blog_board .card-img-top{
    border-radius: 0;
}
.blog_board .card{
    width: 100%;
    border: none;
}
.blog_board .news_type{
    color: #C4C4C4;
    font-size: 11px;
}
.blog_board .card-body{
    word-break: break-word;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.blog_board .card-body .card-title{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.blog_board .card-body .card-text{
    color: #615E5E;
    font-size: 14px;
    overflow: hidden;
    height: 120px;
}
.blog_board .right_news_block .row{
    position: relative;
    height: 100%;
}
.blog_board .right_news_block .last_block .card{
    height: 96%;
}
/*.blog_board .right_news_block .last_block{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
.blog_board .right_news_block .card{
    flex-direction: row;
    height: 100%;
}
.blog_board .right_news_block .card-body .card-title{
    white-space: nowrap;
    overflow: hidden;
    width: 220px;
    text-overflow: ellipsis;
}
.blog_board .right_news_block .card-body{

}
.blog_board .right_news_block .card-img-top{
    width: 30%;
    object-fit: cover;
}
.about_us_main_content .article{
    background: #F9F9F9;
    padding: 80px 45px;
    margin-top: 15px;
}
.about_us_main_content .article .article_main_content{
    max-width: 1300px;
    margin: auto;
}
.about_us_main_content .article .article_main_content .main_text{
    /*max-width: 775px;*/
    text-align: center;
    margin: auto;
    color: #23504B;
}
.about_us_main_content .article .article_main_content .main_text span{
    font-size: 32px;
    margin-right: 20px;
    display: inline-block;
    text-transform: uppercase;
}
.about_us_main_content .aside{
    padding: 45px 80px 170px;
}
.about_us_main_content .aside .aside_content{
    max-width: 1300px;
    margin: auto;
}
.about_us_main_content .aside .aside_board{
    padding: 60px;
    background: #23504B;
    box-sizing: content-box;
    height: 100%;
}
.about_us_main_content .aside .aside_img{
    position: relative;
    width: 135%;
    right: 30%;
    top: 15%;
    height: 100%;
    transform: translate(-3%,3%);
}
.about_us_main_content .aside .board_text{
    color: white;
    font-weight: 300;
    max-width: 453px;
    font-size: 18px;
    margin-top: 50px;
}


/*.about_us_main_content{*/
/*    background-color: #FFFBF6;*/
/*    padding-top: 70px;*/
/*    padding-bottom: 80px;*/
/*}*/
/*.about_us_main_content .row{*/
/*    margin-top: 100px;*/
/*}*/
/*.about_us_main_content .team_content{*/
/*    font-size: 16px;*/
/*    line-height: 140.69%;*/
/*    color: #615E5E;*/
/*    max-width: 505px;*/
/*    margin: auto;*/
/*}*/


/*about us page css end*/

/*media css*/

@media(max-width: 992px) {
    .about_us_main_content .about_block{
        padding: 45px;
    }
    .about_us_main_content .header_block .carousel-item{
        height: initial;
    }
    .about_us_main_content .team_content{
        max-width: 640px;
        margin:20px auto 0;
    }
    .about_us_main_content .aside{
        padding: 90px 45px;
    }
    .about_us_main_content .aside .aside_img{
        transform: translate(0,0);
        display: block;
        position: initial;
        width: 50%;
        margin: auto;
    }
    .about_us_main_content .aside .board_text{
        max-width: 600px;
        margin: auto;
    }
    .blog_board .right_news_block .last_block{
        position: initial;
        margin-top: 35px;
    }

    .blog_board .left_news_block{
        margin-bottom: 35px;
    }
    .blog_board .right_news_block .card-body .card-title{
        width: 350px;
    }
}
@media (max-width: 767px) {
    .blog_board .right_news_block .card-body .card-title {
        width: 200px;
    }
}
@media (max-width: 576px) {
    .about_us_main_content .about_block{
        padding: 40px 18px;
    }
    .about_us_main_content .block_content .articel_img{
        width: 90%;
    }
    .about_us_main_content .article_block{
        padding: 50px 18px;
    }
    .about_us_main_content .blog_board{
        padding: 45px 18px;
    }

    .about_us_main_content .article{
        padding: 35px 18px;
    }
    .about_us_main_content .article .article_main_content .main_text span{
        font-size: 30px;
        margin-right: 10px;
    }
    .about_us_main_content .aside{
        padding: 40px 18px;
    }
    .about_us_main_content .aside .aside_img{
        width: 80%;
    }
}

@media (max-width: 480px) {
    .about_us_main_content .team_content{
        font-size: 13px;
        line-height: 22px;
        text-align: justify;
    }
    .about_us_main_content .article_block .article_text{
        font-size: 13px;
        line-height: 20px;
        text-align: justify;
    }
    .about_us_main_content .article_block{
        padding: 20px 18px;
    }
    .about_us_main_content .article_block .article_content{
        margin-top: 15px;
    }
    .blog_board .card-body .card-title{
        font-size: 15px;
        font-weight: 500;
    }
    .blog_board .news_type{
        font-size: 10px;
        margin-bottom: 6px;
    }
    .blog_board .right_news_block .card{
        flex-direction: column;
        height: initial;
    }
    .blog_board .right_news_block .card-img-top{
        width: 100%;
        object-fit: initial;
    }
    .blog_board .card-body .card-title {
        white-space: nowrap;
        overflow: hidden;
        width: 220px;
        text-overflow: ellipsis;
    }
    .blog_board .card-body .card-text{
        font-size: 11px;
        text-align: justify;
    }
    .about_us_main_content .article .article_main_content .main_text{
        font-size: 12px;
    }
    .about_us_main_content .article{
        padding: 20px 18px;
    }
    .about_us_main_content .aside .aside_board{
        padding: 20px;
    }
    .about_us_main_content .aside{
        padding: 20px 18px;
    }
    .about_us_main_content .article .article_main_content .main_text span{
        font-size: 20px;
        margin-right: 5px;
    }
    .about_us_main_content .aside .board_text{
        font-size: 12px;
        text-align: justify;
    }

}

