* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

/* page loader start */
.loading-custom-animation {
    z-index: 99999999;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    overflow: hidden;

    transition: all 1s;
}

.loading-custom-animation .count {
    font-size: 50px;
    text-align: center;
    color: #CBCBCB;
    max-width: 100px;
    margin: auto;
    position: absolute;
    bottom: 0;
    font-weight: 500;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.loading-custom-animation .count-block {
    display: block;
    max-width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
}

.hiden_loading-custom-animation {
    min-height: 0;
    max-height: 0;

}

.hiden_loading-custom-animation_none {
    display: none;

}

.img_content {
    display: none;
    position: absolute;
    top: 30%;
    left: 44%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.img_content img {
    max-width: 200px;
}

.animate__rotateIn.img_content {
    display: block;
}

/* page loader end */

/* navbar start */
.default_nav-bar.nav-fixed{
    box-shadow: none;
}
.heder-nav .nav-list.menu_list .dropdown_links{
    position: initial;
    width: 420px;
}
.heder-nav .nav-list.menu_list .nav-link-dropdown:hover .dropdown_links{
    height: 175px;
}
.default_nav-bar .heder-nav .nav-list .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 140.69%;
    color: #7C7C7C;
}
.default_nav-bar .heder-nav .nav-list .nav-link-item.active .underline_link{
    height: 4px;
    display: block;
    width: 100%;
    opacity: 1;
    background: #E9F1F1;
    max-width: 100%;
}
.default_nav-bar .heder-nav .nav-list  .nav-link-item{
    margin-right: 20px;
}
.default_nav-bar .heder-nav .nav-list  .nav-link-item .underline_link{
    height: 4px;
    display: block;
    width: 100%;
    max-width: 0;
    opacity: 0;
    background: #E9F1F1;

    transition: all .5s;
}
.default_nav-bar .heder-nav .nav-list .nav-link-item:hover .underline_link{
    max-width: 100%;
    opacity: 1;

}
.nav-link-dropdown {
    position: relative;
}
.nav-link-dropdown:hover .dropdown_links{
    height: 80px;
    overflow: initial;
    opacity: 1;
}
.nav-link-dropdown .dropdown_links{
    list-style: none;
    position: absolute;
    width: 205px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
}
.min_menu_block {
    position: absolute;
    left: 0;
    right: 0;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 79;
    background: #F1F1F1;
}

.min_menu_block .close_menu {
    width: 75px;
    height: 70px;
    font-size: 24px;
    color: white;
    background: #23504B;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: background .5s;
}

.menu_list {
    position: absolute !important;
    text-align: center;
    flex-direction: column !important;
    left: 50% !important;
    margin-right: -50%;
    top: 50vh !important;
    transform: translate(-50%, -50%);

}

.menu_list li a {
    text-transform: capitalize !important;
    font-size: 50px !important;
    color: black !important;
    margin-bottom: 5px !important;

    transition: all .5s;

}

.menu_list li a:hover {
    opacity: .5;
}

.menu_list li a.active:hover {
    opacity: 1;
    cursor: default;
}

.menu_list li a.active {
    color: #23504B !important;
}

.min_menu_block .close_menu:hover {
    background: #23504b7e
}

.nav-toggle {
    position: absolute;
    right: -5000px;
    width: 50px;
    cursor: pointer;

    transition: right .5s;
}

.nav-toggle:hover span {
    margin: 0px auto 6px;
}

.nav-toggle span {
    margin-left: auto;
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 6px;
    background: black;

    transition: all .5s;
}

.nav-toggle .large_line {
    margin-bottom: 6px;
}

.nav-toggle .small_line {
    margin-bottom: 6px;
    width: 20px;
}

.heder-nav {
    max-width: 1200px;
    position: fixed;
    width: 88%;
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heder-nav .nav-list {
    z-index: 99;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 0px;

    transition: left 1s;
}

.heder-nav .nav-list .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 20px;
    color: white;
}
.heder-nav .nav-list .nav-link.active{
    color: black;
}

/* navbar start */

/* home-page block start */
.home-page {
    overflow: hidden;
    display: flex;
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100vh;
}

.home-page .slide_home {
    position: relative;
}

.home-page .slide_home .slide_home_overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
}

.home-page .slide_home img {
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    width: 50vw;

    transition: transform 1s;
}

/* home-page block end */


/* new slider main  start*/
.mian_slider {
    transform: scale(0);
    /*height: calc(var(--vh, 1vh) * 100);*/

    width: 100vw !important;
    margin: auto;
    overflow: hidden;
    transform: translateY(0);

    transition: transform 2s;


}

.slider_content {
    outline: solid;
    width: 100%;
    position: relative;
    display: flex;
    transition: all .5s;
}

.mian_slider .slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
}

.mian_slider ._slide {
    position: relative;
}

.mian_slider ._slide img {
    position: relative;
    width: 100vw;
    height: 100vh;
    /*height: calc(var(--vh, 1vh) * 100);*/
    right: 0;

    transition: all 1s;

}

#video_fullScreen {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateY(0);
    transition: all 1s;

}

.video_fon {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* new css */
.mian_slider.main_slide1_more .slide_1 .more_about_block {
    right: 0;

    transition: all 1s;


}

.mian_slider.main_slide1_more .slide_1 .more_about_block .about_content {
    left: 0;
}
.img_background{
    position: relative;
    width: 100vw;
    background-size: cover !important;
    height: 100vh;
    transition: all 1s;
}
.img_1{
    background: url('../img/1.jpg')  no-repeat center center fixed ;
}
.img_2{
    background: url('../img/6.jpg') no-repeat center center;
}
.img_3{
    background: url('../img/2.jpg') no-repeat center center;
}
.img_4{
    background: url('../img/5.jpg') no-repeat center center;
}
.main_slide1_more .slide_1 .more_about_img {
    transform: translateX(-50%);

    transition: all 1s;

}

/* slide 2 */
.slide_2 .more_about_img {
    left: 0;

    transition: all 1s;
}

.main_slide2_more .slide_2 .more_about_img {
    left: 50%;

    transition: all 1s;

}

.mian_slider.main_slide2_more .slide_2 .more_about_block .about_content {
    top: 10%;

    transition: top 1s;
}


/* slide 3 */

.slide_3 .more_about_img {
    transform: scale(1);

    transition: all 1s;
}

._slide.slide_3 .more_about_img {
    left: 0;

    transition: all 1s;

}

.mian_slider.main_slide3_more .slide_3 .more_about_block {
    left: 0;
    z-index: 0;
}

.mian_slider.main_slide3_more .slide_3 .more_about_block .about_content {
    top: -40px;

}

/* slide 4 */

.slide_4 .more_about_img {
    max-height: 100%;

    transition: all 1s;
}

.main_slide4_more .slide_4 .more_about_img {
    transform: translateY(-95px);

    transition: all 1s;

}

.main_slide4_more .slide_4 .about_img_left {
    left: 50%;

    transition: all 1s;
}

.mian_slider.main_slide4_more .slide_4 .more_about_block {
    max-width: 100%;
    width: 100%;
    z-index: 0;

}

.mian_slider.main_slide4_more .slide_4 .more_about_block .about_content {
    top: -60px;

}

/* prev function start*/
.mian_slider .slide_1 .more_about_block {
    min-height: 90%;
    width: 70%;
    position: absolute;
    bottom: 0;
    right: -4000px;
    padding: 20px;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s;
}

.mian_slider .slide_1 .more_about_block .about_content {
    max-width: 800px;
    margin: auto;
    min-height: 400px;
    max-height: 600px;
    overflow: hidden;
    text-align: left;
    padding: 60px 15px 15px 15px;
    position: relative;
    right: 0;
    left: 4000px;

    transition: left 1s;
}

.mian_slider .slide_1 .more_about_block .about_content .about_content_title {
    font-size: 25px;
    text-align: left;
    line-height: 35px;
    color: #23504B;
    margin-bottom: 20px
}
.mian_slider .slide_2 .more_about_block .about_content .about_content_text {
    font-size: 18px;
    line-height: 28px;
}
.mian_slider .slide_1 .more_about_block .about_content .about_content_text{
    font-size: 18px;
    line-height: 28px;
}

.mian_slider.main_slide2_more .slide_2 .more_about_block {
    max-width: 800px;
    z-index: 0;
}
.mian_slider .slide_2 .more_about_block {
    min-height: 75%;
    max-width: 0%;
    z-index: -1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    padding: 20px;
    background: white;
    overflow: hidden;

    transition: all 1s;
}

.mian_slider .slide_2 .more_about_block .about_content {
    max-width: 60%;
    margin: auto;
    min-height: 300px;
    max-height: 400px;
    text-align: left;
    padding: 100px 15px 15px 15px;
    position: relative;
    right: 0;
    top: -4000px;
    left: 10%;

    transition: top 1s;
}

.mian_slider .slide_2 .more_about_block .about_content .about_content_title {
    font-size: 25px;
    text-align: left;
    line-height: 35px;
    color: #23504B;
    margin-bottom: 24px;
}

.mian_slider .slide_3 .more_about_block {
    min-height: 49%;
    height: 500px;
    max-height: 600px;
    max-width: 60%;
    position: absolute;
    top: 15%;
    z-index: -1;
    left: -4000px;
    padding: 20px;
    background: white;
    overflow: hidden;
    transition: all 1s
}

.mian_slider .slide_3 .more_about_block .about_content {
    max-width: 77%;
    margin: auto;
    min-height: 300px;
    max-height: 400px;
    text-align: left;
    padding: 50px 15px 15px 15px;
    position: relative;
    top: -4000px;
    left: 15%;

    transition: all 1s;
}


.mian_slider .slide_3 .more_about_block .about_content .about_content_title {
    font-size: 25px;
    text-align: left;
    line-height: 35px;
    color: #23504B;
    margin-bottom: 20px;
}
.mian_slider .slide_3 .more_about_block .about_content .about_content_text{
    font-size: 18px;
    line-height: 28px;
}

.mian_slider .slide_4 .more_about_block {
    min-height: 30%;
    max-width: 0%;
    width: 0%;
    z-index: -1;
    position: absolute;
    top: 40%;
    left: 0;
    bottom: 0;
    padding: 20px;
    background: white;
    overflow: hidden;
    transition: all 1s;
}

.mian_slider .slide_4 .more_about_block .about_content {
    max-width: 70%;
    margin: auto;
    min-height: 300px;
    max-height: 400px;
    text-align: left;
    padding: 100px 15px 15px 15px;
    position: relative;
    right: 0;
    top: -4000px;
    left: 5%;

    transition: all 1s;
}


.mian_slider .slide_4 .more_about_block .about_content .about_content_title {
    font-size: 25px;
    text-align: left;
    line-height: 35px;
    color: #23504B;
    margin-bottom: 20px;
}
.mian_slider .slide_4 .more_about_block .about_content .about_content_text{
    font-size: 18px;
    line-height: 28px;
}

/* prev function end*/

/* new css end */

.content_block {
    position: relative;
    max-width: 600px;

    transition: all 1s ease;
}

.content_block1 {
    left: 20%;
    bottom: -2000px;
}

.content_block2 {
    left: 4000px;
    bottom: 55%;

    transition: all .5s;
}

.content_block .content-title {
    font-size: 20px;
    color:#23504B;
    font-weight: 800;
}

.content_block .content-text {
    color: white;
}

.content_block3 {
    bottom: 55%;
    left: 20%;
    transform: scale(0);

    transition: all 1.5s;
}

.content_block4 {
    bottom: -4500px;
    left: 20%;

    transition: all .5s;

}
.content_block .content-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.content_block .content-text {
    font-size: 24px;


}

.slide_1, .slide_2, .slide_3, .slide_4 {
    transition: all .5s;
    background: rgb(224, 224, 224);
}


.slide_pagination {
    padding: 0;
    list-style: none;
    position: absolute;
    top: 37%;
    left: 15%;
    /*transform: translateY(-50%)*/
}

.slide_pagination .pagin {
    position: relative;
    height: 10px;
    width: 10px;
    cursor: pointer;

    text-align: center;

}

.slide_pagination .pagin.active i {
    background: black;
}

.slide_pagination .pagin i {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 6px;
    width: 6px;
    margin-top: 15px;
    background: #D7D7D7;
    border-radius: 50%;

    transition: background 1s;

}

.pagin_count {
    transform: rotate(-90deg) translate(30px, -70%);
}

.pagin_count .pagin_number {
    font-size: 50px;
    color: #D7D7D7;
    font-weight: 600;
}

/* css loader */
.loader {
    position: absolute;
    bottom: 0px;
    display: block;
    border: 2px solid rgba(148, 146, 146, .3);
    border-radius: 50%;
    border-top: 2px solid black;
    width: 15px;
    height: 15px;
    margin-left: -4px;
    animation: spin 5s linear infinite;
}

/* css loader end*/

/* down cover block start */
.down_line {
    min-height: 250px;
    max-height: 250px;
    left: 0;
    right: 10000px;

    bottom: 0;
    position: absolute;
    z-index: 10;

    transition: right 2s;
}

.down_line_hide {
    right: 10%;

    transition: right 2s;

}

.down_line .line_block1 {
    width: 50%;
}

.down_line .line_block2 {
    width: 50%;
    z-index: 1;
    border-left: 1px solid white;
}

.inside_bg_hide {
    position: absolute;
    bottom: 0;
    right: 11%;
    left: 1700px;
    height: 250px;
    background: #23504B;

    transition: left 2s;
}

.inside_bg_show {
    left: 0;

    transition: left 2s;
}

.down_line .row .col-md-5, .col-md-2 {
    height: 200px;
}

.down_line .down_text p {
    height: 100%;
    color: white;
    max-width: 500px;
    padding: 0px 15px 0px 15px;
}

.down_line .down_text {
    padding-top: 15px;
    transform: translateY(2000px);

    transition: transform 2s;
}

.down_line .down_text_show {
    position: relative;
    z-index: 2;
    transform: translateY(0px);

    transition: transform 2s;
}

.down_text p.scroll_text {
    color: #23504B;
    padding-top: 100px;
    text-align: center;

}

/* down cover block start */

/* scroll start */
.hover_scrolle {
    position: relative;
    width: 13%;
    height: 250px;
}

.scroll_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #23504B;
    max-height: 0;

    transition: all .5s;
}

.hover_scrolle:hover .scroll_overlay {
    max-height: 100%;

}

.hover_scrolle:hover > .down_text p.scroll_text {
    color: white !important;
}

.down_line_block {
    height: 250px;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: space-between;
}

.scrolle_down {
    transform: translateY(2000px);
    z-index: 10;
    left: 101%;
    position: absolute;
    text-align: center;
    width: 10%;
    cursor: pointer;
    bottom: 35%;


    transition: transform 2s;
}

.scrolle_down_show {
    transform: translateY(0);
}

.scrolle_down .scrolle_down_icon {
    font-size: 30px;
    color: white;

    transform: translateY(0px);

    transition: all .5s;
}

.scrolle_down:hover .scrolle_down_icon {
    transform: translateY(20px);
    color: #23504B;
}

.scrolle_down_respons {
    position: absolute;
    height: 45px;
    bottom: 20%;
    z-index: 50;
    left: 0px;
    right: 0;
    text-align: center;
    display: none;
}

.scrolle_down_respons .scrolle_down_icon {
    font-size: 30px;
    color: white;

    transition: all 1s;
}

.more_color .scrolle_down_icon {
    color: #23504B;
}

/* scroll end */


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
